/* Fix widget styles with parameters less than 350px
============================================================*/
p {
	margin-bottom:15px;
}
#auth .logo {
	height:0;
	margin-bottom:0;
}
	#auth .logo img {
		position:relative;
		top:5px;
		left:-60px;
		width:55px;
		height:auto;
	}
#auth .welcome {
	width:115px;
	padding-left:75px;
	margin:0 auto 15px;
	text-align:left;
}
#buttons {
	margin:30px auto 0;
}
	#buttons p {
		margin-bottom:30px;
	}
		#buttons button {
			width:90%;
			height:auto;
			margin:0 auto;
		}
#qb_login_form input,
#qb_signup_form input[type="text"] {
	width:174px;
	height:14px;
	padding:5px;
	font-size:14px;
}
#qb_signup_form .fileUpload input[type="file"] {
	margin-left:11px;
}
#qb_login_form button,
#qb_signup_form button {
	width:188px;
	height:28px;
	margin:0 auto;
	font-size:16px;
}
#qb_login_form button {
	margin-bottom:5px;
}
	#qb_login_form span {
		font-size:13px;
	}
#qb_signup_form .fileUpload {
	margin-bottom:10px;
}
	#qb_signup_form .fileUpload .fileName {
		width:140px;
		margin-left:11px;
	}
	#qb_signup_form .fileUpload img {
		top:1px;
		right:10px;
		width:28px;
	}
#chat .chat-header {
	height:32px;
}
	#chat .chat-header .occupants {
		font-size:15px;
		line-height:15px;
	}
		#chat .list {
			top:32px;
		}
	#chat .chat-header .room_name {
		font-size:14px;
		line-height:22px;
	}
	#chat .chat-header .logout {
		font-size:12px;
		line-height:17px;
	}
#chat .message-wrap .message,
#chat .list li,
#chat .title {
	font-size:13px;
}
#chat .chat-footer {
	padding: 7px 7px 6px !important;
}
	#chat .chat-footer textarea {
		font-size:13px;
		line-height:14px;
	}
	#chat .chat-footer .message_field {
		height:14px;
	}
	#chat .chat-footer button {
		height:22px;
		padding:0 7px;
		font-size:15px;
		line-height:18px;
	}
	#chat #message_area {
		height:95px;
	}
.joined,
.leave {
	font-size:13px;
}		
