@import url(reset.css);

html {
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	background: #000;
	-webkit-font-smoothing: antialiased;
}
.hidden {
	display: none;
}

/* Video Chat
----------------------------------------------------------*/
#videochat {
	position: absolute;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
	#videochat .fullVideo {
		max-height: 100%;
	}
	#videochat .smallVideo {
		position: absolute;
		right: 10px;
		bottom: 44px;
		width: 25%;
	}
	
#videochat-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 52px;
	background: #181818;
}
	#videochat-footer .controls-wrap {
		margin: 0 auto;
	}
		#videochat-footer button {
			float: right;
			margin: 10px;
			padding: 7px 15px;
			font-weight: 800;
			color: #fff;
			border-radius: 4px;
			text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
			box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
			cursor: pointer;
		}
		#videochat-footer button:hover {
			opacity: 0.6;
		}
		#videochat-footer .doCall {
			background: #02ad2a;
			border: 1px solid #00821e;
		}
		#videochat-footer .stopCall {
			background: #841F22;
			border: 1px solid #681416;
		}

#remoteCall {
	text-align: center;
}
