@import url(css/reset.css);

@font-face {
	font-family: Helvetica-Light;
	src: url(fonts/HelveticaLTStd-Light.otf) format("opentype");
}
@font-face {
	font-family: Helvetica-Bold;
	src: url(fonts/HelveticaLTStd-Bold.otf) format("opentype");
}

/* Global
==============================*/
html {
	height: 100%;
	font-size: 62.5%;
}
body {
	width: 100%;
	max-width: 900px;
	height: 100%;
	margin: 0 auto;
	font-family: Helvetica, Arial, sans-serif;
}
button {
	width: 100%;
	padding: 0;
	margin-bottom: .9rem;
	text-align: center;
	border: 0;
	cursor: pointer;
}
button:hover {
	opacity: 0.6;
}
	button span {
		display: inline-block;
		padding-left: 3.5rem;
		font-size: 1.8rem;
		line-height: 3.8rem;
		color: #fff;
		background: left center no-repeat;
		background-size: 2.4rem auto;
	}
a:hover {
	text-decoration: none;
}

/* Main
==============================*/
.layout {
	height: 100%;
	background: #ececec;
}
.center-wrap {
	max-width: 300px;
	margin: 0 auto;
}
/*
.error {
	border: 1px solid #C70537 !important;
	box-shadow: 0 0 5px rgba(50, 50, 50, 0.75);
}*/

/* Bubbles */
.bubbles {
	position: relative;
	height: 10.5rem;
}
	.bubble {
		position: absolute;
	}
	.bubble:after {
		content: "";
		position: absolute;
		top: 100%;
	}
	.bubble_green {
		width: 40%;
		height: 50%;
		background: #00bf28;
		border-radius: 0 0 1.3rem 0;
	}
	.bubble_green:after {
		left: 15%;
		border-top: 2rem solid #00bf28;
		border-right: 3rem solid transparent;
	}
	.bubble_blue {
		right: 0;
		width: 75%;
		height: 73%;
		background: rgba(0,110,188,0.8);
		border-radius: 0 0 0 2.5rem;
	}
	.bubble_blue:after {
		right: 20%;
		border-top: 2.8rem solid rgba(0,110,188,0.8);
		border-left: 4rem solid transparent;
	}
	.bubble_light_blue {
		right: 0;
		width: 50%;
		height: 32%;
		background: rgba(255,255,255,0.29);
		border-radius: 0 0 0 1.8rem;
	}
	.bubble_light_blue:after {
		right: 12%;
		border-top: 2.5rem solid rgba(255,255,255,0.29);
		border-right: 3.5rem solid transparent;
	}

/* Title */
.header {
	margin: -1.7rem 0 1.8rem;
}
	.header h1 {
		display: table;
		margin: 0 auto;
		padding: 2.4rem 0 0 2.7rem;
		font-family: Helvetica-Light, Helvetica, Arial, sans-serif;
		font-size: 2.1rem;
		line-height: 2.4rem;
		font-weight: normal;
		color: #333;
		background: url(images/qb-logo.png) left top no-repeat;
		background-size: 2.5rem auto;
	}
		.header h1 b {
			font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
		}

/* Authorization */		
.btn_fb {
	background: #3b5998;
}
	.btn_fb span {
		background-image: url(images/fb-auth.png);
	}
.btn_qb {
	background: #0077cb;
}
#auth .btn_qb {
	margin-bottom: 0;
}
	.btn_qb span {
		background-image: url(images/qb-auth.png);
	}
	
/* Login */

/* Signup
==============================*/
/*#auth {
	position: relative;
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
	background: url('images/bg-header.png') no-repeat;
}*/
	#auth .main-wrap {
		display: table-cell;
		width: 100%;
		vertical-align: middle;
	}
		#auth .logo {
			margin-bottom: 20px;
		}
			#auth .logo img {
				width: 130px;
				height: 130px;
			}
		#auth .welcome {
			margin-bottom: 30px;
		}
	#auth .powered {
		position: absolute;
		top: 0;
		right: 5px;
		font-size: 11px;
	}
	#auth .version {
		position: absolute;
		top: 0;
		left: 5px;
		font-size: 11px;
	}
	
/* Buttons Auth */
#buttons,
#qb_login_form,
#qb_signup_form {
	width: 210px;
	margin: 0 auto;
}
	#buttons button,
	#qb_login_form button,
	#qb_signup_form button {
		display: block;
		width: 100%;
		height: 38px;
	}
		#buttons button img {
			width: 100%;
			height: 100%;
		}

/* Login form */
#qb_login_form,
#qb_signup_form {
	display: none;
}
	#qb_login_form input,
	#qb_signup_form input[type="text"] {
		width: 194px;
		height: 22px;
		padding: 7px;
		border: 1px solid #dcdee3;
	}
	#qb_login_form button,
	#qb_signup_form button,
	#chat button {
		color: #fff;
		background: #429abd;
		border: 1px solid #3985a4;
	}
	#qb_login_form button {
		margin-bottom: 15px;
	}
	#qb_login_form p: last-child {
		line-height: 16px;
	}
		#qb_login_form span {
			font-size: 14px;
		}
	
/* Signup form */
#qb_signup_form {
	margin-top: 10px;
}
	#qb_signup_form .ajax-loader {
		position: absolute;
		right: -40px;
		bottom: 2px;
	}
	#qb_signup_form .fileUpload {
		position: relative;
		overflow: hidden;
		margin-bottom: 30px;
	}
		#qb_signup_form .fileUpload input[type="file"] {
			position: relative;
			opacity: 0;
			height: 31px;
			z-index: 1;
			cursor: pointer;
		}
		#qb_signup_form .fileUpload .fileName {
			position: absolute;
			top: 0;
			left: 0;
			width: 155px;
			height: 15px;
			font-size: 14px;
		}
		#qb_signup_form .fileUpload img {
			position: absolute;
			top: 0;
			right: 0;
			width: 33px;
		}
		#qb_signup_form .fileUpload img.hover {
			opacity: 0.6;
		}

/* Connecting */
#connecting {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 200px;
	height: 70px;
	margin: auto;
	text-align: center;
}
.success_reg {
	display: none;
}

/* Chat
==============================*/
#chat {
	position: relative;
	display: none;
	height: 100%;
}
	#chat .chat-header,
	#chat .chat-footer {
		background: #f3f3f3;
	}
	#chat .chat-header {
		height: 40px;
		border-bottom: 1px solid #cacaca;
		border-radius: 5px 5px 0 0;
	}
		#chat .chat-header .occupants {
			float: left;
			padding: 7px;
			line-height: 26px;
			border-right: 1px solid #cacaca;
		}
			#chat .occupants img {
				width: 16px;
				height: 16px;
				position: relative;
				top: 2px;
			}
		#chat .chat-header .logout-wrap {
			float: right;
			padding: 7px;
		}
			#chat .chat-header .logout {
				display: block;
				padding: 0 5px;
				font-size: 13px;
				line-height: 25px;
				color: #fff;
				text-decoration: none;
				background: #76112b;
				border: 1px solid #580d20;
			}
			#chat .chat-header .logout:hover {
				opacity: 0.6;
			}
		#chat .chat-header .room_name {
			overflow: hidden;
			padding: 7px;
			line-height: 26px;
		}
	#chat .chat-content {
		position: relative;
		overflow: auto;
		height: 411px;
		padding: 7px 7px 0;
		background: #fff;
	}
		#chat .message-wrap {
			opacity: 0;
			overflow: hidden;
			margin-bottom: 7px;
			padding: 5px;
			background: #fbfbfb;
			border: 1px solid #cacaca;
			border-radius: 3px;
		}
			#chat .message-wrap .avatar {
				float: left;
				width: 50px;
				height: 50px;
				margin-right: 7px;
			}
			#chat .message-wrap .message {
				overflow: hidden;
				font-size: 14px;
				word-break: break-all;
			}
				#chat .message-wrap .message p {
					margin-bottom: 15px;
				}
				#chat .message-wrap .message a {
					color: #429abd;
				}
				#chat .message-wrap .message a:hover {
					opacity: 0.8;
				}
				#chat .message-wrap .time {
					font-size: 12px;
					color: #999;
				}
	#chat .chat-footer {
		overflow: hidden;
		padding: 7px;
		border-top: 1px solid #cacaca;
		border-radius: 0 0 5px 5px;
	}
		#chat .chat-footer #message {
			display: none;
		}
		#chat .chat-footer textarea {
			width: 300px;
			padding: 3px 7px;
			font-family: Helvetica, Arial, sans-serif;
			font-size: 15px;
			line-height: 18px;
			background: #fff;
			resize: none;
		}
		#chat .chat-footer .message_field {
			overflow: hidden;
			float: left;
			height: 18px;
			margin-right: 7px;
			border: 1px solid #cacaca;
			border-radius: 3px;
		}
		#chat .chat-footer button {
			float: left;
			padding: 0 10px;
			height: 26px;
		}

.joined,
.leave {
	display: block;
	margin-bottom: 7px;
	font-size: 14px;
	word-break: break-all;
}			
.joined {
	color: #108134;
}
.leave {
	color: #76112b;
}

#area {
	position: absolute;
	display: none;
	bottom: 7px;
	left: 7px;
	width: 314px;
	height: 127px;
	background: #fff;
	border: 1px solid #cacaca;
	border-radius: 3px;
}
	.controls {
		display: block;
		height: 25px;
		padding-left: 5px;
		background: #f3f3f3;
		border-bottom: 1px solid #cacaca;
	}
		.controls .smiles {
			float: right;
			width: 30px;
			height: 26px;
			text-align: center;
			line-height: 32px;
		}
		.controls .smiles:hover,
		#chat .chat-header .occupants:hover {
			background: #dadada !important;
			cursor: pointer;
		}
	#message_area {
		height: 94px;
		outline: 0;
		border: 0;
	}

.smileicons {
	vertical-align: text-bottom;
	height: 16px;
	width: 16px;
}
.smiles-icons {
	position: absolute;
	display: none;
	top: -102px;
	right: 0;
	width: 150px;
	height: 100px;
	overflow: auto;
	background: rgba(0,0,0,0.7);
	border-radius: 3px;
}
#area.big-layout .smiles-icons {
	top: -156px;
	width: 210px;
	height: 154px;
}
	.smiles-icons .smileicons {
		padding: 7px;
	}
	.smiles-icons .smileicons:hover {
		background: rgba(0,0,0,0.9);
		cursor: pointer;
	}
	
.list {
	position: absolute;
	overflow: auto;
	display: none;
	top: 40px;
	left: 0;
	width: 250px;
	max-width: 450px;
	max-height: 418px;
	background: #fff;
	border: 1px solid #cacaca;
	border-radius: 3px;
	z-index: 1;
}
	.list li {
		display: block;
		padding: 3px 5px;
		color: #5a5a5a;
		font-size: 15px;
		line-height: 20px;
		background: #fff;
		border-bottom: 1px solid #cacaca;
		word-break: break-all;
	}
	.list li:last-child {
		border-bottom: 0;
	}
	
.title {
	background: #f3f3f3 !important;
	font-weight: bold;
	font-size: 15px;
	line-height: 25px;
}
.title:hover,
.list li:hover {
	cursor: auto;
}
