/* Global
==============================*/
html {
	height:100%;
}
body {
	position:relative;
	width:100%;
	height:100%;
	font-family:Helvetica, Arial, sans-serif;
	color:#5a5a5a;
	line-height:20px;
}
a:hover {
	text-decoration:none;
}
p {
	margin-bottom:30px;
}
p:last-child {
	margin-bottom:0;
}
button {
	padding:0;
	border:0;
	background:none;
	cursor:pointer;
}
button:hover {
	opacity:0.6;
}

/* Wrapper
==============================*/
#wrap {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	width:500px;
	height:500px;
	margin:auto;
	border:1px solid #cacaca;
	border-radius:5px;
}
#wrap.connect_message {
	background:#fbfbfb;
}

/* Authorization
==============================*/
#auth {
	position:relative;
	height:100%;
	text-align:center;
	background:url('images/bg-header.png') no-repeat;
}
	#auth .logo {
		margin-bottom:20px;
		padding-top:30px;
	}
		#auth .logo img {
			width:130px;
			height:130px;
		}
	#auth .welcome {
		margin-bottom:40px;
	}
	#auth .powered {
		position:absolute;
		top:0;
		right:5px;
		font-size:11px;
	}
	
/* Buttons Auth */
#buttons,
#qb_login_form {
	width:210px;
	margin:0 auto;
}
	#buttons button,
	#qb_login_form button {
		display:block;
		width:100%;
		height:38px;
	}
		#buttons button img {
			width:100%;
			height:100%;
		}

/* Login form */
#qb_login_form {
	display:none;
}
	#qb_login_form input {
		width:194px;
		height:22px;
		padding:7px;
		border:1px solid #dcdee3;
	}
	#qb_login_form button {
		color:#fff;
		background:#429abd;
		border:1px solid #3985a4;
	}
	
/* Connecting */
#connecting {
	display:none;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	width:200px;
	height:70px;
	margin:auto;
	text-align:center;
}

/* Chat
==============================*/
#chat {
	display:none;
}
