/* Global
==============================*/
html {
	height:100%;
}
body {
	position:relative;
	width:100%;
	height:100%;
	font-family:Helvetica, Arial, sans-serif;
	color:#5a5a5a;
	line-height:20px;
}
a:hover {
	text-decoration:none;
}
p {
	margin-bottom:30px;
}
p:last-child {
	margin-bottom:0;
}
button {
	padding:0;
	border:0;
	background:none;
	cursor:pointer;
}
button:hover {
	opacity:0.6;
}
.error {
	border:1px solid #C70537 !important;
	box-shadow:0 0 5px rgba(50, 50, 50, 0.75);
}

/* Wrapper
==============================*/
#wrap {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	width:500px;
	height:500px;
	margin:auto;
	border:1px solid #cacaca;
	border-radius:5px;
}
#wrap.connect_message {
	background:#fbfbfb;
}

/* Authorization
==============================*/
#auth {
	position:relative;
	height:100%;
	text-align:center;
	background:url('images/bg-header.png') no-repeat;
}
	#auth .logo {
		margin-bottom:20px;
		padding-top:30px;
	}
		#auth .logo img {
			width:130px;
			height:130px;
		}
	#auth .welcome {
		margin-bottom:40px;
	}
	#auth .powered {
		position:absolute;
		top:0;
		right:5px;
		font-size:11px;
	}
	#auth .version {
		position:absolute;
		top:0;
		left:5px;
		font-size:11px;
	}
	
/* Buttons Auth */
#buttons,
#qb_login_form {
	width:210px;
	margin:0 auto;
}
	#buttons button,
	#qb_login_form button {
		display:block;
		width:100%;
		height:38px;
	}
		#buttons button img {
			width:100%;
			height:100%;
		}

/* Login form */
#qb_login_form {
	display:none;
}
	#qb_login_form input {
		width:194px;
		height:22px;
		padding:7px;
		border:1px solid #dcdee3;
	}
	#qb_login_form button,
	#chat button {
		color:#fff;
		background:#429abd;
		border:1px solid #3985a4;
	}
	
/* Connecting */
#connecting {
	display:none;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	width:200px;
	height:70px;
	margin:auto;
	text-align:center;
}

/* Chat
==============================*/
#chat {
	display:none;
	height:100%;
}
	#chat .chat-header,
	#chat .chat-footer {
		background:#f3f3f3;
	}
	#chat .chat-header {
		height:26px;
		padding:7px;
		border-bottom:1px solid #cacaca;
		border-radius:5px 5px 0 0;
	}
		#chat .chat-header .room_name {
			display:block;
			float:left;
			line-height:26px;
		}
		#chat .chat-header .logout {
			display:block;
			float:right;
			padding:0 5px;
			font-size:13px;
			line-height:24px;
			color:#fff;
			text-decoration:none;
			background:#76112b;
			border:1px solid #580d20;
		}
		#chat .chat-header .logout:hover {
			opacity:0.6;
		}
	#chat .chat-content {
		position:relative;
		overflow:auto;
		height:411px;
		padding:7px 7px 0;
		background:#fff;
	}
		#chat .message-wrap {
			opacity:0;
			overflow:hidden;
			margin-bottom:7px;
			padding:5px;
			background:#fbfbfb;
			border:1px solid #cacaca;
			border-radius:3px;
		}
			#chat .message-wrap .avatar {
				float:left;
				width:50px;
				height:50px;
				margin-right:7px;
			}
			#chat .message-wrap .message {
				overflow:hidden;
				font-size:14px;
				word-break:break-all;
			}
				#chat .message-wrap .time {
					font-size:12px;
					color:#999;
				}
	#chat .chat-footer {
		overflow:hidden;
		border-top:1px solid #cacaca;
		border-radius:0 0 5px 5px;
	}
		#chat .chat-footer .send_message {
			float:left;
			padding:7px;
		}
			#chat .send_message #message {
				display:none;
			}
			#chat .send_message .message_field {
				float:left;
				width:300px;
				margin-right:7px;
				padding:3px 7px;
				font-size:15px;
				height:18px;
				line-height:18px;
				background:#fff;
				border:1px solid #cacaca;
				border-radius:3px;
			}
			#chat .send_message button {
				float:left;
				padding:0 10px;
				height:24px;
				line-height:23px;
			}
		#chat .chat-footer .occupants {
			float:right;
			padding:7px 7px 7px 10px;
			line-height:26px;
			border-left:1px solid #cacaca;
		}
			#chat .occupants img {
				width:16px;
				height:16px;
				position:relative;
				top:2px;
			}

.joined,
.leave {
	display:block;
	margin-bottom:7px;
	font-size:14px;
	word-break:break-all;
}			
.joined {
	color:#108134;
}
.leave {
	color:#76112b;
}
